@import '../../../_common/styles/common.scss';


#banner{
 width: 728px;
 height: 90px;
 background-color: #232f3e;
}


#overflow{
    @include pos(383, 0);
    width: 345px;
    height: 90px;    
}
.photo{
    transform-origin: 50% 50%;
    transform: translate(-172px, -45px) scale(0.58) ;
}

