@import '../../../_common/styles/common.scss';


#banner{
 width: 300px;
 height: 250px;
 background-color: #232f3e;
}

.photo{
    transform-origin: 50% 50%;
    transform: scale(0.5) translate(-300px, -250px);
}

